body {
    padding-top: 60px;
    background-color: #ddd;
}

/*This allows h2's which are linked to in toc to not get covered by the navbar*/
h2 {
    padding-top: 60px;
    margin-top: -50px;
}

.content-container {
    border-radius: 3px;
    background-color: #fff;
}

.sidebar-container > a {
    margin: 0;
}

.tbmargin {
    margin: 5px 0 5px 0;
}

hr {
    border-top-color: #aaa;
}

#markdown-toc {
    padding: 0 0 0 0;
    margin: 0;
    background-color: #aaa;
    border-radius: 3px;
    list-style: none !important;
    float: right !important;
    width: 300px;
    margin-top: 20px;
}

#markdown-toc p {
    margin: 0px;
}

#markdown-toc ul {
    background-color: #ddd;
    margin-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #333;
    list-style: disc !important;
    padding-bottom: 5px;
}

#markdown-toc ul ul {
    border-top: none;
    font-size: 75%;
}

.table {
    border-radius: 8px;
}

table, th, td {
   border: 1px solid #999;
   padding: 5px;
}

.gravatar {
    height: 20px;
    border-radius: 2px;
}

.content-container p {
    padding: 5px;
}

.content-container ul p {
    padding: 0;
    margin-bottom: 0;
}

.content-container img {
    max-width: 100%;
}

.abstract {
    font-style: italic;
    font-size: 90%;
    padding: 0 15px;
}

.contributor-icon {
    height: 30px;
    border-radius: 2px;
}
