<a href="{{ site.repo }}/blob/gh-pages/{{ page.path }}" type="button" class="btn btn-default pull-left">
  <span class="glyphicon glyphicon-file"></span> View Source
</a>

<a href="{{ site.repo }}/edit/gh-pages/{{ page.path }}" type="button" class="btn btn-default pull-right">
  <span class="glyphicon glyphicon-edit"></span> Edit in Github
</a>

<div class="clearfix tbmargin">&nbsp;</div>

<div class="panel panel-default">
  <div class="panel-heading">Pull Requests</div>
  <ul class="nav nav-pills" style="margin: 10px;">
    <li class="active"><a href="#">Open (9,999)</a></li>
    <li><a href="#">Closed (9,999)</a></li>
  </ul>

  <!-- List group -->
  <div class="list-group">
    <a href="#" class="list-group-item">Example pull request 1</a>
    <a href="#" class="list-group-item">Example pull request 2</a>
    <a href="#" class="list-group-item">Example pull request 3</a>
  </ul>
</div>
